* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#navbar {
  background-color: #be3144;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 9999;
}

#nav-lists {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

a.nav-link {
  padding: 0.5rem;
  color: #f0f0f0;
  display: flex;
  font-size: 0.8rem;
  text-decoration: none;
}

a.nav-link:hover {
  background-color: #45567d;
}

#welcome-section {
  background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.paragraph {
  color: #be3144;
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
}

h1 {
  color: #f0f0f0;
  font-weight: 600;
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
}

#projects {
  background-color: #45567d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
}

h1.project-heading {
  font-size: 1.3rem;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 0.1em;
  font-weight: 800;
  margin-bottom: 1em;
}

.project-box {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-gap: 1.5rem;
  width: 70%;
  text-align: center;
  padding-bottom: 2rem;
}

.project-tile {
  border-right: 2px solid #303841;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.2rem 0.1rem 0.5rem #303841;
}
a.project-link {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 0.4em;
  background-color: #303841;
  align-self: stretch;
  text-align: center;
  padding: 0.5rem 0;
  transition: background-color 0.2s ease-in, font-size 0.2s ease-in-out;
}

a.project-link:hover {
  font-size: 0.45em;
  background-color: #be3144;
}

#projects .project-image {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

#showall {
  background-color: #303841;
  font-size: 0.7rem;
  padding: 0.5em 1em;
  color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

#showall:hover {
  background-color: #be3144;
}

.fas {
  font-size: 0.6rem;
  padding: 0 0.5em;
}

#contact {
  background-color: #303841;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-link {
  display: flex;
  list-style-type: none;
}

a.profile-link {
  color: #f0f0f0;
  text-decoration: none;
  padding: 1em;
  font-size: 0.4em;
  display: inline-block;
  text-shadow: 3px 2px 2px #181719;
  transition: transform ease-out 0.3s;
}

a.profile-link:hover {
  transform: translateY(8px);
}

a .fab,
a .fas {
  color: #f0f0f0;
  font-size: 0.7rem;
  padding-right: 0.3em;
}

#contact .heading {
  font-size: 2.2rem;
  font-weight: 700;
}

#contact .paragraph {
  color: #f0f0f0;
  font-size: 0.6rem;
}

#footer {
  background-color: #303841;
  border-top: 3px solid #be3144;
}

#footer-info {
  background-color: #303841;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
  width: 70%;
}

.footer-para {
  color: #f0f0f0;
  font-size: 0.6rem;
}

@media (max-width: 850px) {
  #navbar {
    justify-content: center;
  }
  #profile-link {
    flex-direction: column;
    align-items: center;
  }

  #footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
